/* ----------------------------------- 背景 ----------------------------------- */
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(var(--color-yellow-3) 5%, transparent 0);
  background-size: 50px 50px;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#fff, transparent);
  position: absolute;
  z-index: -1;
}

/* ---------------------------------- 覆盖设置 ---------------------------------- */
body * {
  box-sizing: content-box;
}

.r-badge__label {
  font-family: consolas, monaco, monospace;
}

.r-dropdown-item {
  font-weight: initial;
}

.title {
  font-family: Pacifico;
}

/* ------------------------------- TODO 中的 tag 设置 ------------------------------ */
[class^="tag-"] {
  cursor: pointer;
}
[class^="tag-"]:hover {
  text-decoration: underline;
}

.tag-project {
  color: var(--color-blue-6);
}

.tag-context {
  color: var(--color-pink-6);
}

.tag-date {
  color: var(--color-green-6);
}

/* ---------------------------------- 自定义字体 --------------------------------- */
/* latin */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* ----------------------------- 一定情况下，Modal 框全屏 ----------------------------- */
@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .r-modal {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    flex-direction: column;
    box-sizing: border-box;
  }

  .r-modal__content {
    overflow: auto;
    flex-grow: 1;
  }
}
